<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="UserMapper">

    <sql id="allColumns">
      id,
      user_name,
      user_password
    </sql>



    <select id="getUser" parameterType="java.lang.Integer" resultType="com.mysp.model.User">
        select id,user_name as userName,user_password as userPassword from user where id=#{id}
    </select>
</mapper>